<section class="splide" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="card" style="width: 18rem">
          <img
            src="https://mdbootstrap.com/img/new/standard/nature/182.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div class="card" style="width: 18rem">
          <img
            src="https://mdbootstrap.com/img/new/standard/nature/182.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div class="card" style="width: 18rem">
          <img
            src="https://mdbootstrap.com/img/new/standard/nature/182.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
